
Data/cellvoltages_2018-12-04-22-21-24/cellvoltages_2018-12-04-22-10-01.csv
Data/cellvoltages_2018-12-04-22-21-24/cellvoltages_2018-12-04-22-21-24.csv
Data/cellvoltages_2018-12-04-22-21-24/cellvoltages_2018-12-05-12-33-39.csv
Data/cellvoltages_2018-12-04-22-21-24/cellvoltages_2018-12-05-16-24-08.csv
Data/cellvoltages_2018-12-04-22-21-24/cellvoltages_2018-12-05-23-48-15.csv
Data/cellvoltages_2018-12-04-22-21-24/cellvoltages_2018-12-06-09-36-48.csv
Data/cellvoltages_2018-12-04-22-21-24/cellvoltages_2018-12-06-12-07-28.csv
Data/Combined/cellremoval1.csv
Data/Combined/cellremoval1.xlsx
Data/orionbms_log_2018-12-11-00-29-03/orionbms_log_2018-12-06-21-28-08.csv
Data/orionbms_log_2018-12-11-00-29-03/orionbms_log_2018-12-08-11-46-18.csv
Data/orionbms_log_2018-12-11-00-29-03/orionbms_log_2018-12-11-00-29-03.csv
Data/orionbms_log_2018-12-11-00-29-03/orionbms_log_2018-12-11-14-19-22.csv
Data/Combined/cellremoval2.xlsx
*.glo
*.aux
*.idx
*.nlo
*.gz
*.ini
Data/updated_data/orionbms_log_2018-12-06-21-28-08.csv
Data/updated_data/orionbms_log_2018-12-08-11-46-18.csv
Data/updated_data/orionbms_log_2018-12-08-11-46-18.mat
Data/updated_data/orionbms_log_2018-12-11-00-29-03.csv
Data/updated_data/orionbms_log_2018-12-11-00-29-03.mat
Data/updated_data/orionbms_log_2018-12-11-14-19-22.csv
Data/updated_data/orionbms_log_2018-12-11-14-19-22.mat
Data/updated_data/orionbmslog20181206212808.mat
Simulation_Results/12cells_combo2final.mat
Simulation_Results/Finalresults12cellsCombo.mat
Simulation_Results/midresults12cell_a.mat
Simulation_Results/output_data/final_result3.mat
Simulation_Results/output_data/12cellsecndorder_withcap.mat
Simulation_Results/output_data/12cellsecndorder.mat
Simulation_Results/output_data/final_result_11cellc.mat
Simulation_Results/output_data/final_results.mat
Simulation_Results/output_data/final_results_11cell.mat
Simulation_Results/output_data/final_results_11cellb.mat
Simulation_Results/output_data/final_results_2.mat
Simulation_Results/output_data/midresults.mat
Simulation_Results/output_data/midresults12cell_a.mat
Simulation_Results/output_data/midresults2.mat
Simulation_Results/output_data/midresults2b.mat
Simulation_Results/output_data/midresults_11cells.mat
Reports/Paper_LongDraft/battery_cycling2-eps-converted-to.pdf
Reports/Paper_LongDraft/cell_removal_figure-eps-converted-to.pdf
Reports/Paper_LongDraft/cell_removal_figure2-eps-converted-to.pdf
Reports/Paper_LongDraft/figs/Cell_capacity_estimates-eps-converted-to.pdf
Reports/Paper_LongDraft/figs/Cell_capacity_estimates_v2-eps-converted-to.pdf
Reports/Paper_LongDraft/figs/cell_resistance_capacity-eps-converted-to.pdf
Reports/Paper_LongDraft/figs/cell_resistance_capacity_2nd_order-eps-converted-to.pdf
Reports/Paper_LongDraft/figs/cell_resistance_capacity_Energy_v3-eps-converted-to.pdf
Reports/Paper_LongDraft/figs/PackCapacity_availableEnergy_V4-eps-converted-to.pdf
Reports/Paper_LongDraft/figs/Voltage_continued_chargedischarge-eps-converted-to.pdf
Reports/Paper_LongDraft/figs/TestVoltagesBoth_v2-eps-converted-to.pdf
Reports/Paper_LongDraft/figs/voltage_SOCRaw-eps-converted-to.pdf
